{% extends "learning_logs/base.html" %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center" style="color: #1a1a1a;">
    <a href="{% url 'learning_logs:topic' topic.id %}" style="color: #1A1A1AFF; text-decoration: none;">{{ topic }}</a>
  </h2>

  <div class="text-center mt-4">
    <h4 style="color: #1A1A1AFF;">Добавление новой записи</h4>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" style="width: 100%; max-width: 600px;">
      {% csrf_token %}
      
      <div class="form-group">
        {{ form.text }}
        {% if form.text.errors %}
          <div class="text-danger">
            {{ form.text.errors }}
          </div>
        {% endif %}
      </div>
      
      <div class="text-center">
        <button type="submit" style="background: #a51caf; color: white" class="btn">Добавить</button>
          <a href="{% url 'learning_logs:topic' topic.id %}" class="text-decoration-none">
            <button type="button" style="background: #dc11ea; color: white" class="btn">Отменить</button>
          </a>
      </div>
    </form>
  </div>
</div>

<script>
  const textarea = document.querySelector('textarea');
  if (textarea) {
    textarea.style.height = "auto";
    textarea.style.overflow = "hidden";
    textarea.style.resize = "none";

    const adjustHeight = () => {
      textarea.style.height = "auto";
      textarea.style.height = (textarea.scrollHeight) + "px";
    };

    textarea.addEventListener('input', adjustHeight);
    adjustHeight();
  }
</script>
{% endblock content %}
