{% extends "learning_logs/base.html" %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center" style="color: #1A1A1AFF;">Добавление новой темы</h2>
  
  <form action="{% url 'learning_logs:new_topic' %}" method='post' class="mx-auto" style="max-width: 400px;">
    {% csrf_token %}
    
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="text-danger">
            {{ field.errors }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
    
    <div class="text-center">
      <button type="submit" style="background: #a51caf; color: white" class="btn">Добавить</button>
    </div>
  </form>
</div>
{% endblock content %}
