{% extends 'learning_logs/base.html' %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center" style="color: #1A1A1AFF;">{{ topic }}</h2>
  <div class="text-center mt-3">
    <a href="{% url 'learning_logs:new_entry' topic.id %}" style="background: #a51caf; color: white" class="btn">Добавить новую запись</a>
  </div>

  <ul class="list-group mt-4 mx-auto" style="max-width: 800px;">
    {% for entry in entries %}
      <li class="list-group-item bg-light rounded shadow-sm mb-3 entry-item border" style="border-color: #1A1A1AFF;">
        <div class="d-flex justify-content-between align-items-center">
          <span class="">{{ entry.date_added|date:'d M Y, H:i' }}</span>
          <a href="{% url 'learning_logs:edit_entry' entry.id %}" style="background: #dc11ea; color: white" class="btn btn-sm">Редактировать</a>
        </div>
        <p class="mt-3 mb-0" style="color: #1A1A1AFF;">{{ entry.text|linebreaks }}</p>
      </li>
    {% empty %}
      <li class="list-group-item text-center text-muted bg-light rounded shadow-sm">
        В этой теме нет записей ¯\_(ツ)_/¯
      </li>
    {% endfor %}
  </ul>
</div>

<style>
  .entry-item {
      transition: transform 0.2s, box-shadow 0.2s;
  }
  .entry-item:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      background-color: #e9ecef;
  }
</style>
{% endblock content %}
