{% extends "learning_logs/base.html" %}

{% block content %}
  <h2 class="text-center" style="color: #1A1A1AFF;">Темы</h2>
  <div class="text-center mt-4">
    <a href="{% url 'learning_logs:new_topic' %}" class="btn" style="background: #a51caf; color: white">Добавить новую тему</a>
  </div>
  <ul class="list-group list-group-flush mt-4 mx-auto" style="max-width: 600px;">
    {% for topic in topics %}
        <a href="{% url 'learning_logs:topic' topic.id %}" class="text-decoration-none">
            <li class="list-group-item bg-light rounded shadow-sm mb-2 topic-item border text-center" style="border-color: #1A1A1AFF;">
                <span style="color: #1a1a1a; font-weight: bold;">{{ topic }}</span>
            </li>
        </a>
    {% empty %}
      <li class="list-group-item text-center text-muted bg-light rounded shadow-sm">
        Нет тем. Добавь.
      </li>
    {% endfor %}
  </ul>

<style>
  .topic-item {
      transition: transform 0.2s, box-shadow 0.2s;
      cursor: pointer;
  }
  .topic-item:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      background-color: #e9ecef;
  }
  .text-decoration-none {
      text-decoration: none !important;
  }
</style>
{% endblock content %}
