{% extends "learning_logs/base.html" %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center" style="color: #1A1A1AFF;">Вход</h2>
  
  <div class="mt-4">
    <form method="post" action="{% url 'users:login' %}" class="mx-auto" style="max-width: 400px;">
      {% csrf_token %}
      
      {% if form.errors %}
        <div class="alert alert-danger text-center" style="border: none; box-shadow: none;">
          Имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.
        </div>
      {% endif %}
      
      <div class="form-group text-center">
        <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя">
        {% if form.username.errors %}
          <div class="text-danger">{{ form.username.errors }}</div>
        {% endif %}
      </div>
      
      <div class="form-group text-center">
        <input type="password" name="password" class="form-control" placeholder="Введите пароль">
        {% if form.password.errors %}
          <div class="text-danger">{{ form.password.errors }}</div>
        {% endif %}
      </div>
      
      <div class="text-center">
        <button type="submit" style="background: #a51caf; color: white" style="background: #a51caf; color: white" class="btn">Войти</button>
      </div>

      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
  </div>
</div>
{% endblock content %}
