{% extends "learning_logs/base.html" %}

{% block content %}
<div class="mt-5">
  <h2 class="text-center" style="color: #1A1A1AFF;">Регистрация</h2>
  
  <div class="mt-4">
    <form method="post" action="{% url 'users:register' %}" class="mx-auto" style="max-width: 400px;">
      {% csrf_token %}

      {% if form.errors %}
      <div class="alert alert-danger text-center" style="border: none; box-shadow: none;">
        Ошибка. Имя пользователя уже существует или пароли не соавпадают.
      </div>
      {% endif %}
      
      <div class="form-group text-center">
        <input type="text" name="username" class="form-control" placeholder="Введите имя пользователя">
      </div>
      
      <div class="form-group text-center">
        <input type="password" name="password1" class="form-control" placeholder="Введите пароль">
      </div>
      
      <div class="form-group text-center">
        <input type="password" name="password2" class="form-control" placeholder="Подтвердите пароль">
      </div>
      
      <div class="text-center">
        <button type="submit" class="btn" style="background: #a51caf; color: white">Зарегистрироваться</button>
      </div>
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}"/>
    </form>
  </div>
</div>
{% endblock content %}
